.header{
    width: 100%;
    background-color:#5DA5A4;
    background-image: url("../images/bg-header-desktop.svg");
    background-size: cover;
    min-height: 9.75rem;

    @include breakpoint-down(){
        background-image: url("../images/bg-header-mobile.svg");
    }
}